.bg-theme{
  background-color: #586776;
}

.bg-theme-cart{
  background-color: #EAF0FF;
}
.cart-icon{
  font-size: 2rem;
}
.hero-background{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.aboutus-background{
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.service-background{
  min-height: 60vh;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}